@font-face {
  font-family: "iconfont"; /* Project id 4247091 */
  src: url('iconfont.woff2?t=1695350596004') format('woff2'),
       url('iconfont.woff?t=1695350596004') format('woff'),
       url('iconfont.ttf?t=1695350596004') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuo:before {
  content: "\e6e5";
}

.icon-you:before {
  content: "\e60a";
}

.icon-gengxin:before {
  content: "\e65f";
}

.icon-xiazai:before {
  content: "\e606";
}

.icon-fabu:before {
  content: "\e71f";
}

.icon-tianjia1:before {
  content: "\e64d";
}

.icon-gengduo:before {
  content: "\e670";
}

.icon-icon-common-line-list-select:before {
  content: "\e6b6";
}

.icon-shanchu:before {
  content: "\e852";
}

.icon-fuzhi_o:before {
  content: "\eb4e";
}

.icon-shoucang1:before {
  content: "\e8c6";
}

.icon-liebiaomoshi:before {
  content: "\e600";
}

.icon-shoucang:before {
  content: "\e614";
}

.icon-anquanlihui:before {
  content: "\e608";
}

.icon-bianji:before {
  content: "\e609";
}

.icon-a-jilu2:before {
  content: "\e60b";
}

.icon-jianxiufangan:before {
  content: "\e60c";
}

.icon-jiankongzhongxin:before {
  content: "\e60d";
}

.icon-jiaoyu:before {
  content: "\e60e";
}

.icon-guichengzhidu:before {
  content: "\e60f";
}

.icon-fuzhukongzhi:before {
  content: "\e610";
}

.icon-shujuchaolu:before {
  content: "\e613";
}

.icon-wentijilu:before {
  content: "\e616";
}

.icon-renyuanguanli:before {
  content: "\e618";
}

.icon-a-xiushijilu2:before {
  content: "\e617";
}

.icon-weixin:before {
  content: "\e637";
}

.icon-zhifu-zhifubao:before {
  content: "\e6bd";
}

.icon-huo:before {
  content: "\e6e1";
}

.icon-tianjia:before {
  content: "\e647";
}

.icon-huiyuan1:before {
  content: "\e8b1";
}

.icon-jushoucanggift:before {
  content: "\e684";
}

.icon-zhuti:before {
  content: "\f985";
}

.icon-xunzhang:before {
  content: "\f952";
}

.icon-xiaoxi1:before {
  content: "\f961";
}

.icon-faxian:before {
  content: "\f97e";
}

.icon-yonghu:before {
  content: "\e7ea";
}

.icon-fenxiang:before {
  content: "\e7f8";
}

.icon-shezhi:before {
  content: "\e803";
}

.icon-cengji:before {
  content: "\e805";
}

.icon-jiangcheng:before {
  content: "\e806";
}

.icon-xiaoxi:before {
  content: "\e642";
}

.icon-huiyuan:before {
  content: "\e8c5";
}

.icon-qinghuiyuan:before {
  content: "\e8b5";
}

.icon-shebeiguanli:before {
  content: "\ebb7";
}

.icon-jifen:before {
  content: "\e674";
}

.icon-qiandao:before {
  content: "\e615";
}

