<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.mng.cgform.mapper.CgformIndexMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="cgformIndexResultMap" type="org.springblade.mng.cgform.entity.CgformIndex">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="cgform_head_id" property="cgformHeadId"/>
        <result column="index_name" property="indexName"/>
        <result column="index_field" property="indexField"/>
        <result column="index_type" property="indexType"/>
        <result column="is_db_synch" property="isDbSynch"/>
    </resultMap>


    <select id ="queryIndexCount" parameterType="java.lang.String" resultType="java.lang.Integer">
		${sqlStr}
	</select>

</mapper>
