<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.mng.cgform.mapper.DictItemMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="dictItemResultMap" type="org.springblade.mng.cgform.entity.SysDictItem">
        <result column="id" property="id"/>
        <result column="create_user" property="createUser"/>
        <result column="create_dept" property="createDept"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
        <result column="dict_id" property="dictId"/>
        <result column="item_text" property="itemText"/>
        <result column="item_value" property="itemValue"/>
        <result column="description" property="description"/>
        <result column="sort_order" property="sortOrder"/>
    </resultMap>


    <!-- 通过字典code获取字典数据 -->
    <select id="queryDictItemsByCode" parameterType="String"  resultType="org.springblade.mng.cgform.model.DictModel">
		   select s.item_value as "value",s.item_text as "text" from sys_dict_item s
		   where dict_id = (select id from sys_dict where dict_code = #{code} and is_deleted =0) and is_deleted =0
		   order by s.sort_order asc
	</select>

</mapper>
